<div class="product-card">
  <div class="product-card__container-image">
    <img
      class="product-card__image-product image-hover"
      src="{{ product.image }}"
      width="100%"
      height="100%"
      alt="product card"
    >
  </div>
  <div class="product-card__container-actions-product">
    <div class="product-card__container-actions-product__container-description">
      <h3 class="product-card__title-product">{{ product.title }}</h3>
      <p class="product-card__text-price">$ {{ product.price }}</p>
      {% if product.tags %}
        <ul class="product-card__list-tags">
          {% for tag in product.tags %}
            <li>{{ tag }} |</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <button class="product-card__button">
      <img class="product-card__image-cart-icon" src="../assets/shop.svg" width="" height="" alt="cart-icon">
    </button>
  </div>
</div>
