footer {
    height: 180px;
    padding: 15px;
    margin-top: 3rem;

    .section-information {
        height: 100%;
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__section-left {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__section-icon-text {
            display: flex;
            gap: 30px;
        }

        &__section-icon-text h1 {
            text-transform: uppercase;
            letter-spacing: -2px;
        }

        &__section-left p {
            font-size: 12px;
            margin: 0;
        }

        &__container-copyright {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__section-center {
            height: 100%;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
        }

        &__list-buttons-footer {
            display: flex;
            justify-self: center;
            gap: 20px;
        }

        &__list-buttons-footer button {
            background: none;
            padding-bottom: 5px;
            border: none;
            cursor: pointer;
            color: white;
            font-size: 23px;
        }

        &__list-buttons-footer button:hover {
            border-bottom: 2px solid #865fce;
            transition: all .4ms ease;
        }

        &__section-terms-services {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        &__section-terms-services p {
            font-size: 12px;
            margin: 0;
        }

        &__section-major-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        &__section-major-cards p {
            font-size: 13px;
        }

        &__section-right {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            height: 100%;
        }

        &__section-email p {
            font-size: 13px;
        }

        &__section-icon-text-mobile {
            display: none;
        }

        &__section-email input {
            border: none;
            padding: 10px;
            width: max-content;
            border-radius: 5px;
            background-color: rgb(35 33 40 / var(--tw-bg-opacity));
            --tw-bg-opacity: 1;
            color: white;
            width: 90%;
        }

        &__section-social-media {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: normal;
        }

        &__section-social-media p {
            font-size: 13px;
        }

        .copyright-mobile {
            display: none;
        }
    }
}

@media(max-width: 780px) {
    footer {
        height: max-content;

        .section-information {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__section-left {
                display: none;
            }

            &__section-center {
                width: 100%;
            }

            &__list-buttons-footer {
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-bottom: 10px;
                align-items: start;
            }

            &__list-buttons-footer button {
                padding: 0;
            }

            &__section-major-cards {
                justify-content: start;
            }

            &__section-right {
                width: 100%;
            }

            &__section-email {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            &__section-email input {
                width: 50%;
                font-size: 17px;
                padding: 15px;
            }

            &__section-terms-services {
                flex-direction: column;
                align-items: start;
                margin: 20px 0;
            }

            &__section-icon-store {
                gap: 10px;
                display: flex;
                align-items: center;
            }

            &__section-icon-store h1 {
                border-left: 2px solid #865fce;
                padding-left: 15px;
            }

            &__section-social-media {
                display: none;
            }

            &__section-icon-text-mobile {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }

            &__section-social-media-mobile {
                display: flex;
                flex-direction: column;
            }

            .copyright-mobile {
                width: 100%;
                display: block;

            }

            .copyright-mobile p {
                font-size: 13px;
                margin: 5px 0;
            }
        }
    }
}

@media(min-width: 1500px) {
    footer {
        width: 70%;
        margin: 3rem auto 0 auto;
    }
}