.hero-banner {
    margin: 10px auto;

    &__container {
        width: 95%;
        margin: auto;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    &__content {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    &__button {
        --tw-bg-opacity: 1;
        background-color: rgb(118 44 251 / var(--tw-bg-opacity));
        color: #fff;
        border: none;
        width: max-content;
        font-weight: 900;
        text-transform: uppercase;
        padding: 20px 30px;
        letter-spacing: -3px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 2rem;

        &:hover {
            background-color: #6f42c1;
        }
    }

    &__section--marquee {
        overflow: hidden;
        position: relative;
        margin: 2rem 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__section--marquee::before,
    &__section--marquee::after {
        content: '';
        position: absolute;
        top: 0;
        width: 80px;
        height: 100%;
        z-index: 1000;
        pointer-events: none;
    }

    &__section--marquee::before {
        left: 0;
        background: linear-gradient(to right, #1a1a1a, transparent);
    }

    &__section--marquee::after {
        right: 0;
        background: linear-gradient(to left, #1a1a1a, transparent);
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    &__marquee {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 20px;
        animation: marquee 800s linear infinite;
    }

    span {
        font-weight: 900;
        margin-right: 10px;
        font-size: 70px;
        letter-spacing: -5px;
    }
}

@media(max-width: 768px) {
    .hero-banner {
        &__container {
            width: 95%;
            margin: auto;
        }

        &__image {
            height: 500px;
            width: 100%;
            object-fit: cover;
        }

        &__button {
            display: none;
        }
    }
}