<section class="featured-products">
  {% comment %} <h2>{{ settings['featured-products'].settings.heading }}</h2> {% endcomment %}
  <div class="featured-products__products-list">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>
