<section class="featured-products">
  <div id="products-list" class="featured-products__products-list">
    {% for product in products %}
      <div class="product-card{% if forloop.index > 4 %} hidden{% endif %}" data-id="{{ product.id }}">
        {% render 'product-card', product: product %}
      </div>
    {% endfor %}
  </div>
  <div class="featured-products__section-button-view-all">
    <button id="view-all-button" class="featured-products__view-all-button">View All</button>
  </div>
</section>
