<footer>
  <div class="section-information">
    <div class="section-information__section-left">
      <div class="section-information__section-icon-text">
        <img src="../assets/icon-footer.png" width="80" height="100%" alt="icon-footer">
        <h1>Store</h1>
      </div>
      <div class="section-information__container-copyright">
        <p>© 2024, Shuffle.store Operated by</p>
        <p>Studio Plaid. Need help?</p>
        <p>Email support@shuffle.store</p>
      </div>
    </div>
    <div class="section-information__section-center">
      <div class="section-information__list-buttons-footer">
        <button>Home</button>
        <button>Cart</button>
        <button>All Products</button>
        <button>Collections</button>
      </div>
      <div class="section-information__section-terms-services">
        <p>REFUND POLICY</p>
        <p>PRIVACY POLICY</p>
        <p>TERMS OF SERVICE</p>
      </div>
      <div class="section-information__section-major-cards">
        <p>We accept all major cards, PayPal & crypto</p>
        <div>
          <img
            width="25"
            height="100%"
            src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          >
          <img
            width="25"
            height="100%"
            src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          >
          <img
            width="25"
            height="100%"
            src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          >
          <img
            width="25"
            height="100%"
            src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          >
        </div>
      </div>
    </div>
    <div class="section-information__section-right">
      <div class="section-information__section-email">
        <p>Subscribe and receive drop notifications</p>
        <input placeholder="Enter Email">
      </div>
      <div class="section-information__section-social-media">
        <p>FACEBOOK</p>
        <p>X(TWITTER)</p>
        <p>INSTAGRAM</p>
      </div>
    </div>
    <div class="section-information__section-icon-text-mobile">
      <div class="section-information__section-icon-store">
        <img src="../assets/icon-footer.png" width="80" height="100%" alt="icon-footer">
        <h1>Store</h1>
      </div>
      <div class="section-information__section-social-media-mobile">
        <p>FACEBOOK</p>
        <p>X(TWITTER)</p>
        <p>INSTAGRAM</p>
      </div>
    </div>
    <div class="section-information__container-copyright copyright-mobile">
      <p>© 2024, Shuffle.store Operated by Studio Plaid. Need help?</p>
      <p>Email support@shuffle.store</p>
    </div>
  </div>
</footer>
