{% comment %} Top bar {% endcomment %}
<div class="top-bar">
  <div class="top-bar__content"></div>
</div>
<header class="header">
  <div class="header__container__father">
    <div class="header__container__father__inline">
      <button
        class="header__menu__toggle"
        aria-label="Toggle navigation"
        data-state="closed"
      >
        ☰
      </button>

      <div class="header__logo">
        <h1>Store | Shuffle</h1>
      </div>
    </div>

    <div class="header__payments header__payments__desktop">
      <span class="header__payments__span">We Accept</span>
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
    </div>

    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__list__item">
          <a href="#all-products" class="header__nav__list__item__link">All Products</a>
        </li>
        <li class="header__nav__list__item">
          <a href="#collections" class="header__nav__list__item__link">Collections</a>
        </li>
      </ul>
      <div class="header__payments header__payments__mobile">
        <span class="header__payments__span">We Accept</span>
        <img
          src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          alt="Bitcoin"
          width="28"
          height="28"
        >
        <img
          src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          alt="Bitcoin"
          width="28"
          height="28"
        >
        <img
          src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          alt="Bitcoin"
          width="28"
          height="28"
        >
        <img
          src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
          alt="Bitcoin"
          width="28"
          height="28"
        >
      </div>
      <button class="header__nav__cart header__nav__cart__desktop">
        <img src="../assets/shop.svg" width="25" height="100%" width="50">
      </button>
    </nav>
    <button class="header__nav__cart header__nav__cart__mobile">
      <img src="../assets/shop.svg" width="30" height="100%" width="50">
    </button>
  </div>
</header>
