{% comment %} Top bar {% endcomment %}
<div class="top-bar">
  <div class="top-bar__content"></div>
</div>

<header class="header">
  <div class="header__container__father">
    <div class="header__logo">
      <h1>Store | Shuffle</h1>
    </div>

    <div class="header__payments">
      <span class="header__payments__span">We Accept</span>
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
      <img
        src="https://static-00.iconduck.com/assets.00/bitcoin-icon-2048x2048-t8gwld81.png"
        alt="Bitcoin"
        width="28"
        height="28"
      >
    </div>

    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__list__item">
          <a href="/collections/all" class="header__nav__list__item__link">All Products</a>
        </li>
        <li class="header__nav__list__item">
          <a href="/collections" class="header__nav__list__item__link">Collections</a>
        </li>
      </ul>
      <button class="header__nav__cart">Carrito</button>
    </nav>
  </div>
</header>
